@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
/* colors */
/* media queries */
/* fonts */
@font-face {
  font-family: 'social_icons';
  src: url("fonts/socials_3/icomoon.eot");
  src: url("fonts/socials_3/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/socials_3/icomoon.woff") format("woff"), url("fonts/socials_3/icomoon.ttf") format("truetype"), url("fonts/socials_3/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* HTML reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  list-style: none; }

::-moz-selection {
  background: #11b7e3;
  color: white;
  text-shadow: none; }

::selection {
  background: #11b7e3;
  color: white;
  text-shadow: none; }

strong {
  font-weight: bold; }

img {
  max-width: 100%;
  width: auto\9;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

[class*="grid"] {
  float: left;
  min-height: 1px;
  margin-left: 20px; }

.container, .grid12 {
  width: 940px; }

.grid11 {
  width: 860px; }

.grid10 {
  width: 780px; }

.grid9 {
  width: 700px; }

.grid8 {
  width: 620px; }

.grid7 {
  width: 540px; }

.grid6 {
  width: 460px; }

.grid5 {
  width: 380px; }

.grid4 {
  width: 300px; }

.grid3 {
  width: 220px; }

.grid2 {
  width: 140px; }

.grid1 {
  width: 60px; }

.row {
  width: 100%;
  *zoom: 1; }
  .row:before {
    display: table;
    content: "";
    line-height: 0; }
  .row:after {
    display: table;
    content: "";
    line-height: 0;
    clear: both; }
  .row [class*="grid"] {
    display: block;
    width: 100%;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    margin-left: 2.12766%;
    *margin-left: 2.07447%; }
    .row [class*="grid"]:first-child {
      margin-left: 0; }
  .row .controls-row [class*="grid"] + [class*="grid"] {
    margin-left: 2.12766%; }
  .row .grid12 {
    width: 100%;
    *width: 99.94681%; }
  .row .grid11 {
    width: 91.48936%;
    *width: 91.43617%; }
  .row .grid10 {
    width: 82.97872%;
    *width: 82.92553%; }
  .row .grid9 {
    width: 74.46809%;
    *width: 74.41489%; }
  .row .grid8 {
    width: 65.95745%;
    *width: 65.90426%; }
  .row .grid7 {
    width: 57.44681%;
    *width: 57.39362%; }
  .row .grid6 {
    width: 48.93617%;
    *width: 48.88298%; }
  .row .grid5 {
    width: 40.42553%;
    *width: 40.37234%; }
  .row .grid4 {
    width: 31.91489%;
    *width: 31.8617%; }
  .row .grid3 {
    width: 23.40426%;
    *width: 23.35106%; }
  .row .grid2 {
    width: 14.89362%;
    *width: 14.84043%; }
  .row .grid1 {
    width: 6.38298%;
    *width: 6.32979%; }

@media (min-width: 1200px) {
  .row {
    *zoom: 1; }
    .row:before {
      display: table;
      line-height: 0;
      content: ""; }
    .row:after {
      display: table;
      line-height: 0;
      content: "";
      clear: both; }

  [class*="grid"] {
    float: left;
    min-height: 1px;
    margin-left: 30px; }

  .row {
    width: 100%;
    *zoom: 1; }
    .row:before {
      display: table;
      line-height: 0;
      content: ""; }
    .row:after {
      display: table;
      line-height: 0;
      content: "";
      clear: both; }
    .row [class*="grid"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 30px;
      margin-left: 2.5641%;
      *margin-left: 2.51091%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .row [class*="grid"]:first-child {
        margin-left: 0; }
    .row .grid12 {
      width: 100%;
      *width: 99.94681%; }
    .row .grid11 {
      width: 91.45299%;
      *width: 91.3998%; }
    .row .grid10 {
      width: 82.90598%;
      *width: 82.85279%; }
    .row .grid9 {
      width: 74.35897%;
      *width: 74.30578%; }
    .row .grid8 {
      width: 65.81197%;
      *width: 65.75877%; }
    .row .grid7 {
      width: 57.26496%;
      *width: 57.21177%; }
    .row .grid6 {
      width: 48.71795%;
      *width: 48.66476%; }
    .row .grid5 {
      width: 40.17094%;
      *width: 40.11775%; }
    .row .grid4 {
      width: 31.62393%;
      *width: 31.57074%; }
    .row .grid3 {
      width: 23.07692%;
      *width: 23.02373%; }
    .row .grid2 {
      width: 14.52991%;
      *width: 14.47672%; }
    .row .grid1 {
      width: 5.98291%;
      *width: 5.92971%; } }
@media (min-width: 768px) and (max-width: 979px) {
  .row {
    *zoom: 1; }
    .row:before {
      display: table;
      line-height: 0;
      content: ""; }
    .row:after {
      display: table;
      line-height: 0;
      content: "";
      clear: both; }

  [class*="grid"] {
    float: left;
    min-height: 1px;
    margin-left: 20px; }

  .row {
    width: 100%;
    *zoom: 1; }
    .row:before {
      display: table;
      line-height: 0;
      content: ""; }
    .row:after {
      display: table;
      line-height: 0;
      content: "";
      clear: both; }
    .row [class*="grid"] {
      display: block;
      float: left;
      width: 100%;
      min-height: 30px;
      margin-left: 2.76243%;
      *margin-left: 2.70924%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .row [class*="grid"]:first-child {
        margin-left: 0; }
    .row .controls-row [class*="grid"] + [class*="grid"] {
      margin-left: 2.76243%; }
    .row .grid12 {
      width: 100%;
      *width: 99.94681%; }
    .row .grid11 {
      width: 91.43646%;
      *width: 91.38327%; }
    .row .grid10 {
      width: 82.87293%;
      *width: 82.81974%; }
    .row .grid9 {
      width: 74.30939%;
      *width: 74.2562%; }
    .row .grid8 {
      width: 65.74586%;
      *width: 65.69266%; }
    .row .grid7 {
      width: 57.18232%;
      *width: 57.12913%; }
    .row .grid6 {
      width: 48.61878%;
      *width: 48.56559%; }
    .row .grid5 {
      width: 40.05525%;
      *width: 40.00206%; }
    .row .grid4 {
      width: 31.49171%;
      *width: 31.43852%; }
    .row .grid3 {
      width: 22.92818%;
      *width: 22.87499%; }
    .row .grid2 {
      width: 14.36464%;
      *width: 14.31145%; }
    .row .grid1 {
      width: 5.8011%;
      *width: 5.74791%; } }
@media (max-width: 767px) {
  .container {
    width: auto; }

  .row {
    width: 100%; }

  [class*="grid"], .uneditable-input[class*="grid"], .row [class*="grid"] {
    display: block;
    float: none;
    width: 100%;
    margin-left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .grid12, .row .grid12 {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; } }
* {
  margin: 0px; }

html, body {
  height: 100%;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: #333333;
  text-align: center; }

.clearfix {
  zoom: 1;
  clear: both; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

h1 {
  font-size: 55px;
  font-weight: 900;
  text-transform: uppercase;
  color: white; }
  @media screen and (max-width: 767px) {
    h1 {
      font-size: 30px; } }

h2 {
  font-size: 25px;
  font-weight: 700;
  margin: 0 auto 20px; }

h3 {
  font-size: 20px;
  color: #ffc20e; }

a {
  color: #333333;
  text-decoration: none; }

p {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px; }

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px 0; }

.main {
  padding: 50px 0;
  max-width: 700px; }

.main_cta {
  background: url(/img/footer_bg.jpg) no-repeat center bottom #11b7e3;
  background-size: 100% auto;
  width: 100%;
  padding: 0 0 100px; }
  @media screen and (max-width: 767px) {
    .main_cta {
      padding: 0 0 40px; } }
  .main_cta .main {
    padding: 50px 0 10px; }
  .main_cta .jobs div {
    width: 21%;
    padding: 20px 2%;
    margin: 0 auto;
    float: left;
    text-align: left; }
    .main_cta .jobs div ul {
      padding-left: 11%; }
      .main_cta .jobs div ul li {
        font-weight: 400;
        margin: 10px 0;
        list-style: disc outside;
        font-size: 14px; }
    .main_cta .jobs div h4 {
      font-size: 18px; }
    @media screen and (max-width: 767px) {
      .main_cta .jobs div {
        width: 90%;
        padding: 20px 5%; } }
  .main_cta p {
    max-width: 700px;
    width: 90%;
    margin: 0 auto; }
  .main_cta .cta {
    margin-bottom: 80px; }

header {
  background: #0a0a0a;
  width: 100%;
  height: auto; }
  header .container {
    background: url(/img/header_bg.jpg) no-repeat center center; }
    header .container .fourpoint_logo {
      background: url(../img/FourPoint_Logo.svg) no-repeat;
      background-size: 220px 134px;
      width: 220px;
      height: 134px;
      margin: 20px auto;
      display: block; }
    header .container h3 {
      margin: 30px auto 50px; }
    header .container h1 {
      max-width: 900px;
      margin: 0 auto; }
    @media screen and (max-width: 767px) {
      header .container {
        width: 100%;
        margin: 0 auto;
        padding: 20px 0; }
        header .container h3, header .container h1 {
          max-width: 90%; } }

.no-svg header .container .fourpoint_logo {
  background: url(../img/FourPoint_Logo.png) no-repeat;
  background-size: 220px 134px;
  width: 220px;
  height: 134px;
  margin: 20px auto;
  display: block; }

.cta {
  padding: 10px 15px;
  background: #ffc20e;
  margin: 15px auto;
  display: inline-block;
  border: 2px solid #ffc20e;
  overflow: hidden; }
  .cta:hover {
    border: 2px solid black; }

footer {
  position: relative;
  margin: 0 auto;
  width: 100%;
  background: #0a0a0a;
  color: white; }
  footer p {
    font-size: 14px;
    line-height: 18px; }
  @media screen and (max-width: 768px) {
    footer {
      height: auto;
      text-align: center;
      line-height: 30px;
      padding: 0 0 10px; }
      footer .social_font {
        float: none;
        margin: 0 auto;
        padding-top: 10px; }
      footer .social_callout {
        float: none; }
        footer .social_callout:after {
          content: "";
          padding: 0; }
      footer .post_title {
        display: block; } }
  footer .call {
    display: block; }
  footer .mobile_call {
    display: none; }

.touch .mobile_call {
  display: block;
  color: white; }

.touch .call {
  display: none; }
